/* Estilos generales del body y importación del fondo */
.login-screen {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/fondo.png") no-repeat center center fixed;
    background-size: cover;
}

/* Estilos de contenedor principal que sería el de info y login */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 70px;
}

/* Estilos del contenedor de info de la página */
.info-section {
    color: white;
    padding: 10px;
    max-width: 400px;
    flex: 1;
    margin-right: 400px;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.info-section p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Estilos del contenedor de login */
.login-container {
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    flex: 1;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

.input-form {
    position: relative;
    margin-bottom: 20px;
}

.input-form input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 1rem;
    background: transparent;
    border: 1px solid rgb(206, 197, 197);
    border-radius: 5px;
    color: white;
}

.input-form .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: white;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    font-size: 0.9rem;
    color: white;
}

.remember-forgot a {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.button-login {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.button-login:hover {
    background-color: #007bff;
    color: white;
}

.register-link {
    margin-top: 20px;
}

.register-link p {
    font-size: 0.9rem;
    color: white;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

